@tailwind base;
@tailwind components;
@tailwind utilities;
.bg1{
    background-image: url(./image.png);
    background-size: cover;
    background-repeat: no-repeat;    
}
.jj{
background: linear-gradient(82.23deg, #36895F -1.99%, #00552F 100%);
}